.popup-content {
  min-width: 220px;
  min-height: 100px;
  text-align: center;
}

.app-name {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #7A7A7A;
  margin-bottom: 10px;
  padding: 5px 0;
  border-bottom: 1px solid;
}

button {
  background-color: #2196F3;
  font-size: 16px;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  margin: 10px 0;
  cursor: pointer;
}

button:focus {
  outline: 0;
}
